//
// Mixins
// ------------------------------


// Utilities
@mixin border-bottom-radius($radius)
{
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin box-sizing($boxmodel)
{
	-webkit-box-sizing: $boxmodel;
	-moz-box-sizing: $boxmodel;
	box-sizing: $boxmodel;
}
